body {
    font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", vOxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.62
}
#navbar {
  transition: background-color 2.0s ease;
  background-color: #551c5e;
}
#navbar:hover {
  background-color: #551c5e;
}
.navbar-inverse .navbar-collapse, .navbar-form {
    border-color: #551c5e;
    background-color: #551c5e;

}
.navbar-fixed-top {
  /*height: 100px;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
}
img {
  /*margin-top: 5px;
  margin-bottom: 5px;*/
}
h4 {
  color: #341539;
}
h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 50px;
}
.navbar-inverse {
  background-color: #551c5e;
}
@media screen and (max-width: 768px) {
  .sidebar {
   display: inline;
}
#mainTitle {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 48px;
  letter-spacing: 1px;
}
a .navbar-brand {
  color: #ff536e;
}
#logo {
  color: #ff536e;
}
.navbar-header {
  color: #ff536e;
}
#target_ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.placeholders {
    margin-bottom: 30px;
}
#displayDiv {
  display: inline-block;
}
.navbar-inverse .navbar-brand {
    color: #ff536e;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #79326b;
}
/*dashboard.css:58*/
